<% layout('layouts/app') %>
<div class="container pt-5 pb-5">
  <h1 class="text-center mb-3">Login</h1>
  <div class="col-sm-6 mx-auto">
    <form
      action="/login"
      method="POST"
      class="validated-form bg-light p-5 rounded"
      novalidate
    >
      <!-- Input Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">
          Loooks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <!-- Input Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">
          Loooks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>
