<% layout('layouts/app') %>
<div class="container mt-5 mb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/places" class="active">< Back</a>
      </li>
    </ol>
  </nav>
  <h1 class="text-center">
    Add a <span class="text-success fw-bold">New Place</span>
  </h1>
  <div class="col-sm-6 mt-3 mx-auto">
    <%- include('../layouts/components/formCreate') %>
  </div>
</div>
