<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BestPoint - Details Place</title>
  </head>
  <body>
    <h1>Details Place</h1>
    <ul>
      <li><%= place.title %></li>
      <li><%= place.description %></li>
      <li><%= place.location %></li>
      <li><%= place.price %></li>
    </ul>
  </body>
</html>
