<h6 class="h5 mb-4 font-monospace text-uppercase text-underline">
  <u>Leave a Review</u>
</h6>
<form
  action="/places/<%= place._id %>/reviews"
  method="POST"
  class="validated-form bg-light p-3 rounded mb-3"
  novalidate
>
  <div class="mb-3">
    <fieldset class="starability-slot">
      <p>Rating (1-5)â­</p>
      <input
        type="radio"
        id="no-rate"
        class="input-no-rate"
        name="review[rating]"
        value="0"
        checked
        aria-label="No rating."
        required
      />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input
        type="radio"
        id="first-rate3"
        name="review[rating]"
        value="3"
        checked
      />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" n name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
  </div>
  <div class="mb-3">
    <label for="review" class="mb-2">Review</label>
    <textarea
      class="form-control"
      name="review[body]"
      id="body"
      cols="20"
      rows="5"
      required
    ></textarea>

    <div class="invalid-feedback">
      Please fill out this field.
    </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
