<div class="card bg-dark text-white card-thumbnail">
  <% if (place.images && place.images.length > 0) { %> <%
  place.images.forEach((image) => { %>
  <div
    class="img-fluid img-details"
    style="background-image: url('/images/<%=image.filename %>');"
  ></div>
  <% }) %> <% } else { %>
  <div class="img-fluid img-details"></div>
  <% } %>
  <div class="card-img-overlay d-flex flex-column">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/places" class="active nav-back">< Back</a>
        </li>
      </ol>
    </nav>
    <!-- <h2 class="card-title text-center fw-bold" style="margin-top: auto;">
      "<%= place.title %>"
    </h2> -->
    <p class="card-text mb-3" style="margin-top: auto;">
      📍<%= place.location %>
    </p>
  </div>
</div>
