<div class="d-flex justify-content-between">
  <h6 class="h5 mb-4 font-monospace text-uppercase text-underline">
    <u>All Reviews </u>
  </h6>
  <strong
    >Average Rating: <%= calculateAverageRating(place.reviews) %>⭐</strong
  >
</div>
